*{
  box-sizing: border-box;
  margin: 0; padding: 0;
}
.App{
  display: flex; flex-wrap: wrap; align-items: center; justify-content: center; flex-direction: row;
  width: 100vw; height: 100vh;
  background-color: #000;
  position: relative;
}
#left_{
  width: 50vw; height: 100vh; z-index: 999;
}
#right_{
  width: 50vw; height: 100vh; z-index: 999;
}
#quote_{
  padding: 20px;
  width: 80%; height: auto;
  border: 1px solid #000; border-radius: 8px;
  background-color: #ba0;
  position: absolute;
}
#quote_body{
  text-align: center; font-size: 28px; color: #fff; text-shadow: 1px 2px #000; word-spacing: 2px; line-height: 1.4em; letter-spacing: 1.3px; font-style: oblique;
}
#quote_author{
  text-align: right; font-size: 20px; color: #fff; text-shadow: 1px 2px #000; letter-spacing: 1.2px;
}